@page "/"

@using BlazoredWordmix.Web.Services
@using BlazoredWordmix.Web.Models

@inject DobbelstenenService dobbelstenenService

<h1>Wordmix voor luie mensen</h1>

@if (dobbelstenen == null)
{
    <p><em>Schudden maarrrrr...</em></p>
}
else
{
    <div class="flex-container">
    @foreach(var dobbelsteen in dobbelstenen) 
    {
        <div>
            @dobbelsteen.SpeelbareKant.Letter <br />
            <i>@dobbelsteen.SpeelbareKant.Score</i>
        </div>
    }
    </div>
    <button @onclick="@DoeHet">Doe het!</button>
}
<button @onclick="@Schudden">Schudden!</button> 

@code {
    private List<Dobbelsteen> dobbelstenen;
    private List<Woord> oplossingen;

    protected void Schudden(MouseEventArgs args)
    {
        dobbelstenen = dobbelstenenService.GetDobbelStenen();
    }

    protected void DoeHet(MouseEventArgs args)
    {
        oplossingen = dobbelstenenService.GetOplossing(dobbelstenen);
    }
}
